<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario preoperacional</title>
</head>
<body>
    <h1>Formulario preoperacional</h1>
    <form action="">
        <label for="pregunta1"><input type="checkbox" value="pregunta1"> pregunta uno</label><br>
        <label for="pregunta2"><input type="checkbox" value="pregunta2"> pregunta dos</label><br>
        <label for="pregunta3"><input type="checkbox" value="pregunta3"> pregunta tres</label><br>
        <label for="pregunta4"><input type="checkbox" value="pregunta4"> pregunta cuatro</label><br>
        <label for="pregunta5"><input type="checkbox" value="pregunta5"> pregunta cinco</label><br>
        
        
    </form>
</body>
</html>